<div class="offer">
  
    <div class="offer__list">
      <ul>
        <li>accpet.user.nickname</li>
        <li>accpet.user.region</li>
        <li>accpet.user.gender</li>
        <li>accpet.date</li>
        <li>accpet.time</li>
        <li>accpet.capacity</li>
        <li>accpet.age_range</li>
        <li>accpet.beg</li>
      </ul>
    </div>

</div>