@mixin contents {
  width: 100%;
  background: image-url("sample3.jpg");
  background-size: cover;
  height: calc(100vh - 110px);
  margin: 0 auto;
  text-align: center;
  overflow: scroll;
}

@mixin form-buttons {
  height: auto;
  width: auto;
  padding: 5px 10px;
  color: white;
  background-color: rgb(17, 162, 183);
  border: 1px solid rgb(17, 162, 183);
  border-radius: 5px;
  transition: .5s;
}

@mixin input-form {
  height: 30px;
  width: 30%;
}

@mixin resize680 {
  width: 45%;
}

@mixin resize500 {
  width: 60%;
}

@mixin display-flex {
  display: flex;
}