@mixin contents {
  width: 100%;
  background: image-url("sample3.jpg");
  background-size: cover;
  height: calc(100vh - 110px);
  margin: 0 auto;
  text-align: center;
  overflow: scroll;
}

@mixin input-form {
  height: 30px;
  width: 30%;
}

@mixin resize680 {
  width: 50%;
}

@mixin resize500 {
  width: 70%;
}

@mixin display-flex {
  display: flex;
}