<div class="user-info">
  <div class="use-info__detail__lett">
    <ul>
      <li>name</li>
      <input type="text" value="<%= @user.name %>" class="input-area">
    </ul>
    <ul>
      <%= @user.name %>
      <li>user-name</li>
    </ul>
    <ul>
      <li>name</li>
      <li>user-name</li>
    </ul>
  </div>

  <div class="use-info__detail__right">
    <ul>
      <li>name</li>
      <li>user-name</li>
    </ul>
  </div>
</div>