<div class="make-request">
  <%= form_for @request do |form| %>
    <label>
      <h1 class="new_request__title">依頼日程</h1>
      <%= form.text_field :date, class: :"edit_user__box" %>
    </label>
  <%= form.submit "送信", class: :"new_request__btn" %>
  <% end %>
</div>