.offer {
  @include contents;  
  &__title {
    font-size: 20px;
    margin: 20px 0;
  }
  &__list {
    margin-top: 20px;
    &__detail {
      text-decoration: none;
    }
    &__link {
      color: #5507FF;
      text-decoration: none;
      transition: color.3s;
    }
    &__link:hover {
      color: #005FFF;
    }
    &__block:hover {
      background: rgba(255,255,255,0.9);
    }
    &__block {
      height: auto;
      width: 70%;
      border: solid 1px white;
      border-radius: 10px;
      margin: 10px auto;
      background: rgba(255,255,255,0.5);
      transition: background-color 0.7s;
      display: flex;
      font-size: 18px;
      list-style: none;
      &__left {
        width: 50%;
        margin-left: 15px;
        text-align: left;
        &__blue {
          color: rgb(255, 0, 191);
        }
        &__request-view {
          color: #5507FF;
          text-decoration: none;
          transition: color.3s;
        }
        &__request-view:hover {
          color: #1E90FF;
        }
        &__index-btn {
          color: #5507FF;
          text-decoration: none;
          transition: color.3s;
        }
        &__index-btn:hover {
          color: #FF367F;
        }
        &__btn {
          margin: 3px 5px 3px 0;
          float: left;
          border: solid 1px black;
          text-decoration: none;
          color: black;
          padding: 2px 4px;
        }
      }
      &__right {
        width: 50%;
        margin-left: 10px;
        text-align: left;
      }
    }
  }
}