.accept {
  @include contents;
  &__title {
    margin-top: 20px;
    font-size: 20px;
  }
  .new_accept, .edit_accept {
    margin-top: 20px;
    &__title {
      font-size: 18px;
      margin: 5px auto;
    }
    &__box {
      @include input-form;
    }
    &__area {
      height: 90px;
      width: 30%;
      resize: none;
      margin-bottom: 20px;
    }
    .btn {
      @include form-buttons;
      display: block;
      margin: 0 auto;
    }
    .btn:hover {
      color: rgb(17, 162, 183);
      background-color: white;
    }
  }
}

@media screen and ( max-width:680px ) {
  .new_accept, .edit_accept {
    .new_accept__box, .new_accept__area {
      @include resize680;
    }
  }
}

@media screen and ( max-width:500px ) {
  .new_accept, .edit_accept {
    .new_accept__box, .new_accept__area {
      @include resize500;
    }
  }
}