.offer {
  @include contents;  
  &__title {
    font-size: 20px;
    margin: 20px 0;
  }
  &__list {
    margin-top: 20px;
    &__link {
      text-decoration: none;
    }
    &__block {
      height: auto;
      width: 70%;
      border: solid 1px white;
      border-radius: 10px;
      margin: 10px auto;
      background: rgba(255,255,255,0.7);
      display: flex;
      font-size: 18px;
      list-style: none;
      &__left {
        width: 50%;
        margin-left: 15px;
        text-align: left;
        &__btn {
          margin: 3px 5px 3px 0;
          float: left;
          border: solid 1px black;
          text-decoration: none;
          color: black;
          padding: 2px 4px;
        }
      }
      &__right {
        width: 50%;
        margin-left: 10px;
        text-align: left;
      }
    }
  }
}
.accept-show {
  @include contents;
  &__delete-message {
    border: red solid 3px;
    color: red;
    font-size: 18px;
    font-weight: bold;
    background-color: white;
    height: 30px;
    line-height: 30px;
    width: 40%;
    margin: 10px auto 20px auto;
  }
  .accept-show-info {
    &__title {
      font-weight: bold;
      font-size: 20px;
      margin: 20px 0;
      &__description {
        margin: 20px 0;
        &__div {
          font-size: 16px;
        }
        &__info {
          font-size: 20px;
        }
      }
    }
  }
}