.offer {
  @include contents;
  background: image-url("pic3.jpg");
  background-size: 50% 50%;
  opacity: 1;
  &__title {
    font-size: 20px;
    margin: 20px 0;
  }
  &__list {
    margin-top: 20px;
    &__link {
      text-decoration: none;
    }
    &__block {
      height: auto;
      width: 70%;
      border: solid 1px white;
      border-radius: 10px;
      margin: 10px auto;
      background: rgba(255,255,255,0.8);
      display: flex;
      font-size: 18px;
      &__left {
        width: 50%;
        list-style: none;
        margin-left: 15px;
        text-align: left;
        &__btn {
          margin: 3px 5px 3px 0;
          float: left;
          border: solid 1px black;
          text-decoration: none;
          color: black;
          padding: 2px 4px;
        }
      }
      &__right {
        width: 50%;
        list-style: none;
        margin-left: 10px;
        text-align: left;
      }
    }
  }
}