.sign {
  @include contents;
  background: image-url("pic3.jpg");
  background-size: 50% 50%;
  .new_user select {
    width: 31%;
    height: 33px;
    font-size: 17px;
    padding: 5px;
    border-radius: 0;
  }
  &__in {
    margin-top: 20px;
    font-size: 20px;
  }
  .field {
    margin: 10px 0;
    &__box {
      @include input-form;
    }
    #user_email, #user_password, #user_prefecture_id {
      @include input-form;
    }
  }
  .actions {
    margin-top: 20px;
    &__btn {
      font-size: 15px;
    }
  }
  .sessions {
    margin: 10px 0;
    &__link {
      text-decoration: none;
    }
  }
}
.sessions {
  a {
    text-decoration: none;
  }
}

@media screen and ( max-width:680px ) {
  .new_user {
    .field {
      &__box {
        @include resize680;
      }
      #user_email, #user_password, #user_gender, #user_prefecture_id {
        @include resize680;
      }
    }
  }
}

@media screen and ( max-width:500px ) {
  .new_user {
    .field {
      &__box {
        @include resize500;
      }
      #user_email, #user_password, #user_gender, #user_prefecture_id {
        @include resize500;
      }
    }
  }
}