.header {
  width: 100vw;
  height: 70px;
  background-color: aqua;
  line-height: 70px;
  display: flex;
  justify-content: space-between;
  &__title {
    color: darkblue;
    font-size: 25px;
    margin-left: 20px;
  }
  &__info {
    &__link {
      text-decoration: none;
      caret-color: black;
      margin-right: 10px;
    }
  }
}