.make-request {
  @include contents;
  &__title {
    margin-top: 20px;
    font-size: 20px;
  }
  .edit_request select {
    width: 31%;
    height: 33px;
    font-size: 17px;
    padding: 5px;
    border-radius: 0;
  }
  .new_request select {
    width: 31%;
    height: 33px;
    font-size: 17px;
    padding: 5px;
    border-radius: 0;
  }
  .new_request {
    margin-top: 20px;
    &__title {
      font-size: 18px;
      margin: 5px auto;
    }
    &__box {
      @include input-form;
    }
    #request_gender {
      @include input-form;
    }
    &__area {
      height: 90px;
      width: 30%;
      resize: none;
      margin-bottom: 20px;
    }
    &__btn {
      display: block;
      margin: 0 auto;
      margin-bottom: 20px;
    }
  }
}

@media screen and ( max-width:680px ) {
  .new_request {
    .new_request__box, .new_request__area, #request_gender {
      @include resize680;
    }
  }
}

@media screen and ( max-width:500px ) {
  .new_request {
    .new_request__box, .new_request__area, #request_gender {
      @include resize500;
    }
  }
}