.user-info {
  width: 100vw;
  height: calc(100vh - 120px);
  background: image-url("footer.jpg");
  background-size: cover;
  
  justify-content: space-around;
  .edit_user {
    margin-left: 20px;
    &__title {
      font-size: 18px;
    }
    &__box {
      line-height: 30px;
      width: 25%;
    }
  }
}