.deal {
  @include contents;
  &__title {
    font-size: 20px;
    margin-top: 20px;
  }
  &__accept {
    height: auto;
    width: 70%;
    border: solid 3px yellow;
    border-radius: 10px;
    margin: 55px auto 10px auto;
    background: rgba(255,255,255,0.7);
    display: flex;
    font-size: 18px;
    list-style: none;
    &__left {
      width: 50%;
      margin-left: 15px;
      text-align: left;
    }
    &__right {
      width: 50%;
      margin-left: 10px;
      text-align: left;
    }
  }
  &__message {
    border: blue solid 2PX;
    width: 45%;
    height: auto;
    margin: 0 auto;
    color: blue;
    font-weight: bold;
    font-size: 15px; 
    background: rgba(255, 255, 255, 1);
  }
  &__request {
    height: auto;
    width: 70%;
    border: solid 3px pink;
    border-radius: 10px;
    margin: 10px auto;
    background: rgba(255,255,255,0.8);
    display: flex;
    font-size: 18px;
    list-style: none;
    &__left {
      width: 50%;
      margin: 5px 0 5px 15px;
      text-align: left;
      &__reply {
        margin: 5px 0 0;
        width: 90px;
        display: block;
        text-decoration: none;
        border: solid orange 1px;
        border-radius: 5px;
        padding: 0 7px;
        color: orange;
        transition: .7s;
      }
      &__reply:hover {
        color: white;
        background-color: orange;
      }
      &__status {
        text-decoration: none;
      }
      .chat-access {
        color: red;
        text-decoration: none;
      }
    }
    &__right {
      width: 50%;
      margin-left: 10px;
      text-align: left;
    }
  }
}