.user {
  @include contents;
  .user-info {
    &__title {
      font-weight: bold;
      font-size: 20px;
      margin: 20px 0;
      &__description {
        margin: 20px 0;
        &__div {
          font-size: 16px;
        }
        &__info {
          font-size: 20px;
        }
      }
    }
    .edit_user {
      &__title {
        font-size: 18px;
        font-weight: bold;
      }
      &__box {
        text-align: center;
        width: 30%;
        margin-bottom: 10px;
      }
      &__btn {
        display: block;
        margin: 20px auto 10px;
      }
      #user_prefecture_id {
        @include input-form;
      }
    }
  }
  .user-request {
    &__title {
      font-size: 20px;
      margin: 20px 0;
    }
    &__descript {
      margin-top: 20px;
      &__brock:hover {
        background: rgba(255,255,255,0.9);
      }
      &__brock {
        height: auto;
        width: 70%;
        border: solid 1px gray;
        border-radius: 10px;
        margin: 10px auto;
        background: rgba(255,255,255,0.5);
        transition: background-color 0.7s;
        display: flex;
        font-size: 18px;
        &__left {
          width: 50%;
          list-style: none;
          margin-left: 15px;
          text-align: left;
          span {
            color: red;
            font-weight: bold;
          }
          &__link {
            text-decoration: none;
          }
          &__chat {
            text-decoration: none;
            color: red;
          }
          &__btn {
            margin: 3px 5px 3px 0;
            float: left;
            border: solid 1px black;
            text-decoration: none;
            color: black;
            padding: 2px 4px;
          }
        }
        &__right {
          widows: 50%;
          list-style: none;
          margin-left: 10px;
          text-align: left;
          span {
            color: red;
          }
        }
      }
    }
  }
}
.user select {
  width: 31%;
  height: 33px;
  font-size: 17px;
  padding: 5px;
  border-radius: 0;
}

@media screen and ( max-width:680px ) {
  .user {
    .user-info {
      .edit_user {
        .edit_user__box, #user_gender, #user_prefecture_id {
          width: 40%;
        }
      }
    }
  }
}

@media screen and ( max-width:500px ) {
  .user {
    .user-info {
      .edit_user {
        .edit_user__box, #user_gender, #user_prefecture_id {
          width: 50%;
        }
      }
    }
  }
}