@import "mixins/mixin";
@import "modules/reset.scss";
@import "modules/devise.scss";
@import "modules/request.new.scss";
@import "modules/accept.index.scss";
@import "accepts.scss";
@import "requests.scss";
@import "comments.scss";
@import "users.scss";

.header {
  width: 100vw;
  height: 70px;
  background: image-url("header.jpg");
  background-size: cover;
  line-height: 70px;
  display: flex;
  justify-content: space-between;
  &__title {
    color: darkblue;
    font-size: 25px;
    margin-left: 20px;
  }
  &__info {
    &__link {
      text-decoration: none;
      caret-color: black;
      margin-right: 10px;
    }
  }
}
footer {
  width: 100vw;
  height: 40px;
  font-size: 20px;
  background: image-url("footer.jpg");
  background-size: cover;
  line-height: 40px;
  text-align: center;
}