@import "mixins/mixin";
@import "modules/vegas.min.css";
@import "modules/reset";
@import "modules/devise";
@import "modules/request.new";
@import "modules/accept/index";
@import "modules/accept/show";
@import "modules/accept/new-edit";
@import "modules/deal";
@import "modules/reply-hide";
@import "modules/new-room";
@import "modules/show-room";
@import "requests";
@import "users";

.header, .devise-header {
  width: 100vw;
  height: 70px;
  background: image-url("header.jpg");
  background-size: cover;
  line-height: 70px;
  display: flex;
  justify-content: space-between;
  &__title {
    color: darkblue;
    font-size: 25px;
    margin-left: 20px;
    &__link {
      text-decoration: none;
    }
  }
  &__info {
    &__link {
      text-decoration: none;
      caret-color: black;
      margin-right: 10px;
    }
  }
}

@media screen and ( max-width:680px ) {
  .header {
    text-align: center;
    line-height: 35px;
    flex-direction: column;
  }
}

@media screen and ( max-width:420px ) {
  .header__info__link {
    font-size: 14px;
  }
}

footer {
  width: 100vw;
  height: 40px;
  font-size: 20px;
  background: image-url("footer.jpg");
  background-size: cover;
  line-height: 40px;
  text-align: center;
}