@import "mixins/mixin";
@import "modules/reset";
@import "modules/devise";
@import "modules/reply-hide";
@import "modules/vegas.min.css";
@import "modules/request/new-edit";
@import "modules/accept/index";
@import "modules/accept/show";
@import "modules/accept/new-edit";
@import "modules/accept/search";
@import "modules/user/show";
@import "modules/user/deal";
@import "modules/room/new";
@import "modules/room/show";


.header, .devise-header {
  width: 100vw;
  height: 70px;
  background: image-url("header.jpg");
  background-size: cover;
  line-height: 70px;
  display: flex;
  justify-content: space-between;
  &__title {
    color: darkblue;
    font-size: 25px;
    margin-left: 20px;
    &__link {
      text-decoration: none;
      position: relative;
    }
    &__link::after{
      height: 2px;
      width: 100%;
      position: absolute;
      visibility: hidden;
      bottom: 2px;
      left: 0;
      content: '';
      background: rgb(146, 146, 243);
      opacity: 0;
      transition: .4s;
    }
    &__link:hover::after{
      bottom: -6px;
      opacity: 1;
      visibility: visible;
    }
  }
  &__info {
    &__link {
      text-decoration: none;
      caret-color: black;
      margin-right: 10px;
      position: relative;
    }
    &__link::after{
      height: 2px;
      width: 100%;
      position: absolute;
      visibility: hidden;
      bottom: 2px;
      left: 0;
      content: '';
      background: rgb(146, 146, 243);
      opacity: 0;
      transition: .4s;
    }
    &__link:hover::after{
      bottom: -6px;
      opacity: 1;
      visibility: visible;
    }
  }
}

@media screen and ( max-width:680px ) {
  .header {
    text-align: center;
    line-height: 35px;
    flex-direction: column;
  }
}

@media screen and ( max-width:420px ) {
  .header__info__link {
    font-size: 14px;
  }
}

footer {
  width: 100vw;
  height: 40px;
  font-size: 20px;
  background: image-url("footer.jpg");
  background-size: cover;
  line-height: 40px;
  text-align: center;
}