.user{
  @include contents;
  background-size: 50% 50%;
  .user-info {
    &__title {
      font-weight: bold;
      font-size: 20px;
      margin: 20px 0;
      &__description {
        margin: 20px 0;
        &__div {
          font-size: 16px;
        }
        &__info {
          font-size: 20px;
        }
      }
    }
    .edit_user {
      &__title {
        font-size: 18px;
        font-weight: bold;
      }
      &__box {
        width: 30%;
        margin-bottom: 10px;
      }
      &__btn {
        display: block;
        margin: 10px auto;
      }
    }
  }
  .user-request {
    &__title {
      font-size: 20px;
      margin: 20px 0;
    }
    &__descript {
      margin-top: 20px;
      &__brock {
        height: auto;
        width: 70%;
        border: solid 1px gray;
        border-radius: 10px;
        margin: 10px auto;
        background: rgba(255,255,255,0.8);
        display: flex;
        font-size: 18px;
        &__left {
          width: 50%;
          list-style: none;
          margin-left: 15px;
          text-align: left;
          &__link {
            text-decoration: none;
          }
          &__btn {
            margin: 3px 5px 3px 0;
            float: left;
            border: solid 1px black;
            text-decoration: none;
            color: black;
            padding: 2px 4px;
          }
        }
        &__right {
          widows: 50%;
          list-style: none;
          margin-left: 10px;
          text-align: left;
        }
      }
    }
  }
}