<header class="devise-header">
  <div class="devise-header__title">
    <%= link_to "Child Raise Sharing", "/", class: "devise-header__title__link" %>
  </div>
  <div class="header__info">
    <%= link_to "ログイン", new_user_session_path, class: "header__info__link" %> 
    <%= link_to "新規登録", new_user_registration_path, class: "header__info__link" %>
  </div>
</header>